*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  height: 100vh;
}

section#galeriafotos {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  grid-template-rows: auto;
  width: 85%;
}

article#fotos {
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

#galeriafotos img {
  width: 100%;
  max-width: 400px;
  max-height: auto;
  border-radius: 10px;
}

#modal {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.562);
  backdrop-filter: blur(4px);
  z-index: 10;
}

#modal img {
  display: none;
  max-width: 85vw;
  max-height: 85vh; 
  object-fit: contain;
  display: block;
  border-radius: 10px;
}

#botaofechar {
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
  height: 100%;
  z-index: 1000;
}

button.x {
  position:fixed;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: transparent;
  border: 2px solid black;
  font-size: 20px;
  cursor: pointer;
  z-index: 1000;
}