*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500;600&display=swap');

header {
  text-align: center;
  padding: 24px 16px;
}

header::after {
  content: "";
  display: block;
  width: 80%;
  max-width: 800px;
  height: 1px;
  background-color: rgba(0,0,0,0.3);
  margin: 16px auto 0;
}

header h1 {
  font-size: clamp(1.8em, 4vw, 3em);
  font-weight: 600;
  letter-spacing: 2px;
  font-family: 'Cinzel', serif;
  text-transform: uppercase;
}

header p {
  margin-top: 12px;
  font-size: 0.95em;
  opacity: 0.8;
  max-width: 520px;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: 'inter', sans-serif;
}

main {
  height: 100vh;
}

section#galeriafotos {
  height: 100%
}

article#fotos {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  justify-items: center;
  align-items: center;
}

#fotos img {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  cursor: pointer;
  padding: 6px;
  margin:4px;
  border: 2px solid transparent;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease,
    border-color 0.3 ease;
}

#fotos img:hover {
  transform: scale(1.03);
  border-color: 3px solid #d4a017;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25)
}

#modal {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.562);
  backdrop-filter: blur(4px);
  z-index: 10;
}

#modal img {
  display: none;
  max-width: 85vw;
  max-height: 85vh; 
  object-fit: contain;
  display: block;
  border-radius: 10px;
}

#botaofechar {
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
  height: 100%;
  z-index: 1000;
}

button.x {
  position:fixed;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: transparent;
  border: 2px solid black;
  font-size: 20px;
  cursor: pointer;
  z-index: 1000;
}

@media (min-width: 768px) {

  article#fotos {
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    justify-items: center;
    align-items: start;
    padding: 40px;
  }

  #fotos img {
    max-width: 260px;
  }

  #modal img {
    max-width: 70vw;
    max-height: 80vh;
  }

  .x {
    top: 30px;
    right: 40px;
    width: 48px;
    height: 48px;
    font-size: 20px;
  }
}