*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  height: 100vh;
}

section#galeriafotos {
  
}

article#fotos {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  justify-items: center;
  align-items: start;
}

#fotos img {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  cursor: pointer;
}

#modal {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.562);
  backdrop-filter: blur(4px);
  z-index: 10;
}

#modal img {
  display: none;
  max-width: 85vw;
  max-height: 85vh; 
  object-fit: contain;
  display: block;
  border-radius: 10px;
}

#botaofechar {
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
  height: 100%;
  z-index: 1000;
}

button.x {
  position:fixed;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: transparent;
  border: 2px solid black;
  font-size: 20px;
  cursor: pointer;
  z-index: 1000;
}

@media (min-width: 768px) {

  article#fotos {
    grid-template-columns: repeat(4, 1fr);
    gap: 6px;
    justify-items: center;
    align-items: start;
  }

  #fotos img {
    max-width: 260px;
  }

  #modal img {
    max-width: 70vw;
    max-height: 80vh;
  }

  .x {
    top: 30px;
    right: 40px;
    width: 48px;
    height: 48px;
    font-size: 20px;
  }
}